/vendor
/node_modules
/.env
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/hot
/public/storage
.phpunit.result.cache
Homestead.json
Homestead.yaml
.idea
.vscode
